{% extends 'layout.html' %}
{% block main_content %}
    <h1>Contact Me</h1>
    <form id="contact-form" action="{{ url_for('contact') }}" method="post" role="form" class="form-horizontal">
        {{ form.csrf_token }}
        <fieldset>
            {{ form.name.label }} </br>
            {{ form.name }}
        </fieldset>
        <fieldset>
            {{ form.email.label }} </br>
            {{ form.email }}
        </fieldset>
        <fieldset>
            {{ form.subject.label }} </br>
            {{ form.subject }}
        </fieldset>
        <fieldset>
            {{ form.message.label }} </br>
            {{ form.message(style='width:500px;height:200px;') }}
        </fieldset>
        <fieldset>
            {{ form.submit(class_='btn btn-primary') }}
        </fieldset>
    </form>
{% endblock %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}