<div class="c4 first demo">
    <figure>
        <img style="width:100%;" src="{{ url_for('static', filename='img/datamappr.png') }}">
    </figure>
    <h3>Datamappr</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
        , elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
        nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
        sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
    </p>
</div>
<div class="c4 middle-4 demo">
    <figure>
        <img style="width:100%;" src="{{ url_for('static', filename='img/inventory.png') }}">
    </figure>
    <h3>Flask Inventory</h3>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
        , elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
        nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
        sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
    </p>
</div>
<div class="c4 last demo">
    <figure>
        <img style="width:100%;" src="{{ url_for('static', filename='img/journal.png') }}">
    </figure>
    <h3 class="text-center">Learning Journal</h3>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
        , elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
        nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
        sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
    </p>
</div>