<!DOCTYPE HTML>
<html>
<head>
    <title>IMA Webdev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ivory.css')}}" media="all">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/new.css')}}" media="all">
    <!-- For Date picker only -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
      });
    </script>
    <!-- For Date picker only -->
</head>
<body>
    <header>
        <div class="row" >
            <h1><a href="/">ima-webdev</a></h1>
        </div>
    </header>
    <main class="content">
        <section id="main-content">
            <div class="g1140">
                <div class="row">
                    <div id="main-content-area" class="c12 last">
                        <div class="row">
                            {% block main_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="secondary-content">
            <div class="g1200">
                <div class="row">
                    {% include 'demos.html' %}
                </div>
            </div>
        </section>
    </main><!-- grid -->
    <footer>
        <div class="row">
            <div class="c6 first">
                <p>Developed by Ian Auld using the <a href="http://weice.in">Ivory CSS Framework</a> and <a href="http://flask.pocoo.org/">Flask</a></p>
            </div>
            <div class="c6 last text-right">
                <p>Free to use Under License GPLv2<p>
            </div>
        </div>
    </footer>
</body>
</html>