<!DOCTYPE HTML>
<html>
<head>
	<title>IVORY Framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/ivory.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
	<!-- For Date picker only -->
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script>
	  $(document).ready(function() {
	    $("#datepicker1").datepicker();
		$("#datepicker2").datepicker();
	  });
	</script>
	<!-- For Date picker only -->
</head>
<body>
	<header class="row">
		<h1>ima-webdev</h1>
	</header>
	<main class="content">
		<section class="g1200 space-bot">
			<div class="row space-bot">
				<div class="c2 first">
					<div class="row">
						<p class="note text-center"style="height:300px;">Some stuff</p>
					</div>
				</div>
				<div class="c10 last">
					<div class="row">
						<p class="note text-center"style="height:300px;">Some stuff</p>
					</div>
				</div>
				<div class="c4 first">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<p class="note text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
				<div class="c4">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<p class="note text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
				<div class="c4 last">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<p class="note text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
			</div>
		</section>
	</main><!-- grid -->
	<footer>
		<div class="row">
			<div class="c6 first">
				<p>Developed by <a href="mailto:kanth.vallampati@gmail.com">Lakshmikanth Vallampati</a> at <a href="http://weice.in">WEICE SOFTSYSTEMS</a></p>
			</div>
			<div class="c6 last text-right">
				<p>Free to use Under License GPLv2<p>
			</div>
		</div>
	</footer>
</body>
</html>
