<!DOCTYPE HTML>
<html>
<head>
	<title>IMA Webdev</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/ivory.css" media="all">
	<link rel="stylesheet" type="text/css" href="../static/css/new.css" media="all">
	<!-- For Date picker only -->
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script>
	  $(document).ready(function() {
	    $("#datepicker1").datepicker();
		$("#datepicker2").datepicker();
	  });
	</script>
	<!-- For Date picker only -->
</head>
<body>
	<header class="row">
		<h1>ima-webdev</h1>
	</header>
	<main class="content">
		<section class="g1140 space-bot">
			<div class="row space-bot">
				<div class="c2 first">
					<div class="row">
						<h4><small>Find me around the web</small></h4>
						<ul class="no-bullet">
							<li>
								<img class="img-circle" src="http://placekitten.com/25/25">
								<a target="_blank" href="https://github.com/im-auld">Github</a>
							</li>
							<li>
								<img class="img-circle" src="http://placekitten.com/25/25">
								<a target="_blank" href="http://stackoverflow.com/users/1318181/ianauld">Stack Overflow</a>
							</li>
							<li>
								<img class="img-circle" src="http://placekitten.com/25/25">
								<a target="_blank" href="http://www.linkedin.com/in/ianauld/">LinkedIn</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="c10 last">
					<div class="row">
						<h2>An Intro</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue
							tempus, elementum est ac, accumsan eros. Aliquam interdum ac libero sed
							aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
							commodo consequat nisl. Curabitur vitae lectus in ipsum luctus dignissim.
							Praesent ultricies sodales lobortis. Etiam dignissim nisl purus, quis
							dapibus nisl gravida in.
						</p>
						<p>
							Mauris sit amet lectus commodo sem congue luctus in et justo. Quisque et
							sodales purus. Donec venenatis sem id diam suscipit, eu luctus massa
							ultrices. Duis nec felis et felis fringilla rutrum quis vulputate purus.
							Phasellus felis felis, dictum id porttitor nec, tincidunt eu ligula. Nunc
							ullamcorper dictum aliquet. Duis sit amet nisl ut diam accumsan suscipit.
							In ornare elit in neque consequat pulvinar. Sed in vehicula urna, eget
							interdum dolor.
						</p>
						<p>
							In in nibh vel nunc volutpat rutrum quis et dui. Nunc gravida adipiscing
							dui, in porta velit dignissim sed. Aliquam varius orci et pharetra luctus.
							Donec arcu diam, blandit sollicitudin tempus vitae, mattis ac nibh.
							Sed porta sem eget sapien faucibus tincidunt. Donec vel lacus quis erat
							dignissim scelerisque scelerisque at ligula. Sed malesuada, odio in
							pellentesque viverra, ipsum lorem iaculis ipsum, nec semper metus nisi
							in augue. Phasellus eget pharetra lorem. Class aptent taciti sociosqu ad
							litora torquent per conubia nostra, per inceptos himenaeos.
						</p>
					</div>
				</div>
			</div>
			<div class="row space-bot">
				<div class="c4 first">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<h3>Demo 1</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
				<div class="c4 middle-4">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<h3>Demo 2</h3>
					<p class="text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
				<div class="c4 last">
					<figure>
						<img style="width:100%;" src="http://placekitten.com/400/100">
					</figure>
					<h3 class="text-center">Demo 3</h3>
					<p class="text-center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at augue tempus
						, elementum est ac, accumsan eros. Aliquam interdum ac libero sed aliquet.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo consequat
						nisl. Curabitur vitae lectus in ipsum luctus dignissim. Praesent ultricies
						sodales lobortis. Etiam dignissim nisl purus, quis dapibus nisl gravida in.
					</p>
				</div>
			</div>
		</section>
	</main><!-- grid -->
	<footer>
		<div class="row">
			<div class="c6 first">
				<p>Developed by Ian Auld using the <a href="http://weice.in">Ivory CSS Framework</a></p>
			</div>
			<div class="c6 last text-right">
				<p>Free to use Under License GPLv2<p>
			</div>
		</div>
	</footer>
</body>
</html>
