<h4>Find me around the web</h4>
<ul id="social-links">
    <li><img src="{{ url_for('static', filename='img/github.png') }}" class="img-circle" ><a href="https://github.com/im-auld" target="_blank">Github</a></li>
    <li><img src="{{ url_for('static', filename='img/stackoverflow.png') }}" class="img-circle" ><a href="http://stackoverflow.com/users/1318181/ianauld" target="_blank">Stack Overflow</a></li>
    <li><img src="{{ url_for('static', filename='img/linkedin.png') }}" class="img-circle" ><a href="http://www.linkedin.com/in/ianauld/" target="_blank">LinkedIn</a></li>
</ul>